<a href="https://colab.research.google.com/github/raunaka928/python_cypher/blob/main/SQL_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.cloud import bigquery

# Create a "Client" object
client = bigquery.Client()

# Construct a reference to the "openaq" dataset
dataset_ref = client.dataset("openaq", project="bigquery-public-data")

# API request - fetch the dataset
dataset = client.get_dataset(dataset_ref)

# Construct a reference to the "global_air_quality" table
table_ref = dataset_ref.table("global_air_quality")

# API request - fetch the table
table = client.get_table(table_ref)

# Preview the first five lines of the "global_air_quality" table
client.list_rows(table, max_results=10).to_dataframe()

Using Kaggle's public dataset BigQuery integration.

,location,city,country,pollutant,value,timestamp,unit,source_name,latitude,longitude,averaged_over_in_hours,location_geom
0,"Borówiec, ul. Drapałka",Borówiec,PL,bc,0.85217,2022-04-28 07:00:00+00:00,µg/m³,GIOS,1.0,52.276794,17.074114,POINT(52.276794 1)
1,"Kraków, ul. Bulwarowa",Kraków,PL,bc,0.91284,2022-04-27 23:00:00+00:00,µg/m³,GIOS,1.0,50.069308,20.053492,POINT(50.069308 1)
2,"Płock, ul. Reja",Płock,PL,bc,1.41000,2022-03-30 04:00:00+00:00,µg/m³,GIOS,1.0,52.550938,19.709791,POINT(52.550938 1)
3,"Elbląg, ul. Bażyńskiego",Elbląg,PL,bc,0.33607,2022-05-03 13:00:00+00:00,µg/m³,GIOS,1.0,54.167847,19.410942,POINT(54.167847 1)
4,"Piastów, ul. Pułaskiego",Piastów,PL,bc,0.51000,2022-05-11 05:00:00+00:00,µg/m³,GIOS,1.0,52.191728,20.837489,POINT(52.191728 1)
5,"Biała, ul. Kmicica",Biała,PL,bc,5.64000,2022-05-10 06:00:00+00:00,µg/m³,GIOS,1.0,52.602534,19.645100,POINT(52.602534 1)
6,"Białystok, ul. Waszyngtona",Białystok,PL,bc,0.28000,2022-05-09 14:00:00+00:00,µg/m³,GIOS,1.0,53.126689,23.155869,POINT(53.126689 1)
7,"Gdańsk, ul. Leczkowa",Gdańsk,PL,bc,0.37260,2022-05-08 17:00:00+00:00,µg/m³,GIOS,1.0,54.380279,18.620274,POINT(54.380279 1)
8,"Zdzieszowice, ul. Piastów",Zdzieszowice,PL,bc,0.08659,2022-05-15 19:00:00+00:00,µg/m³,GIOS,1.0,50.423533,18.120739,POINT(50.423533 1)
9,"Mielec, ul. Biernackiego",Mielec,PL,bc,0.49923,2022-05-11 05:00:00+00:00,µg/m³,GIOS,1.0,50.299128,21.440942,POINT(50.299128 1)

In [ ]:
large_val = """
        SELECT * FROM bigquery-public-data.openaq.global_air_quality ORDER BY value DESC LIMIT 20

        """
client = bigquery.Client()
query_job = client.query(large_val)
large_point5 = query_job.to_dataframe()
large_point5

Using Kaggle's public dataset BigQuery integration.

,location,city,country,pollutant,value,timestamp,unit,source_name,latitude,longitude,averaged_over_in_hours,location_geom
0,Albury,South-west Slopes,AU,pm10,26647612.40,2022-04-17 23:00:00+00:00,µg/m³,Australia - New South Wales,24.000000,-36.051667,146.974167,POINT(-36.0516667 24)
1,"GVM Corporation, Visakhapatnam - APPCB",Visakhapatnam,IN,so2,13949142.00,2022-05-04 23:00:00+00:00,µg/m³,caaqm,1.000000,17.720000,83.300000,POINT(17.72 1)
2,"GVM Corporation, Visakhapatnam - APPCB",Visakhapatnam,IN,so2,6499958.00,2022-05-05 06:00:00+00:00,µg/m³,caaqm,1.000000,17.720000,83.300000,POINT(17.72 1)
3,"GVM Corporation, Visakhapatnam - APPCB",Visakhapatnam,IN,so2,1442781.60,2022-05-04 16:00:00+00:00,µg/m³,caaqm,1.000000,17.720000,83.300000,POINT(17.72 1)
4,Monash,Canberra,AU,co,1428573.00,2022-05-10 02:00:00+00:00,ppm,Australia - ACT,1.000000,-35.418302,149.094018,POINT(-35.418302 1)
5,Monash,Canberra,AU,co,1428571.00,2022-05-10 01:00:00+00:00,ppm,Australia - ACT,1.000000,-35.418302,149.094018,POINT(-35.418302 1)
6,"GVM Corporation, Visakhapatnam - APPCB",Visakhapatnam,IN,so2,850556.80,2022-05-04 14:45:00+00:00,µg/m³,caaqm,1.000000,17.720000,83.300000,POINT(17.72 1)
7,Escuela E-10,Tocopilla,CL,co,825736.00,2019-07-17 22:00:00+00:00,µg/m³,Chile - SINCA,1.000000,-22.085519,-70.188683,POINT(-22.085518710314 1)
8,"GVM Corporation, Visakhapatnam - APPCB",Visakhapatnam,IN,so2,477861.80,2022-05-04 17:00:00+00:00,µg/m³,caaqm,1.000000,17.720000,83.300000,POINT(17.72 1)
9,"GVM Corporation, Visakhapatnam - APPCB",Visakhapatnam,IN,so2,366459.40,2022-05-04 14:00:00+00:00,µg/m³,caaqm,1.000000,17.720000,83.300000,POINT(17.72 1)
10,"GVM Corporation, Visakhapatnam - APPCB",Visakhapatnam,IN,so2,155030.60,2022-05-05 07:00:00+00:00,µg/m³,caaqm,1.000000,17.720000,83.300000,POINT(17.72 1)
11,"GVM Corporation, Visakhapatnam - APPCB",Visakhapatnam,IN,so2,133520.40,2022-05-04 20:00:00+00:00,µg/m³,caaqm,1.000000,17.720000,83.300000,POINT(17.72 1)
12,İskenderun,Hatay,TR,so2,95880.55,2022-04-05 12:00:00+00:00,µg/m³,Turkey,1.000000,36.714140,36.223919,POINT(36.7141403795385 1)
13,"Birla Staff colony, Satna - MPPCB",Satna,IN,co,80000.00,2018-03-14 03:30:00+00:00,µg/m³,data.gov.in,1.000000,24.590826,80.857428,POINT(24.5908256 1)
14,"Birla Staff colony, Satna - MPPCB",Satna,IN,co,80000.00,2018-03-14 03:30:00+00:00,µg/m³,data.gov.in,24.590826,80.857430,1.000000,POINT(80.85743 24.590826)
15,Doğubeyazıt,Ağrı,TR,co,69298.85,2022-04-12 04:00:00+00:00,µg/m³,Turkey,1.000000,39.547600,44.083595,POINT(39.5476 1)
16,Gölcük-MTHM,Kocaeli,TR,pm10,65984.84,2022-04-13 05:00:00+00:00,µg/m³,Turkey,1.000000,40.725970,29.794630,POINT(40.72597 1)
17,"IDA Pashamylaram, Hyderabad - TSPCB",Hyderabad,IN,co,50270.00,2022-04-11 04:00:00+00:00,µg/m³,caaqm,1.000000,17.531689,78.218939,POINT(17.5316895 1)
18,ES1818A,Toledo,ES,co,50000.00,2017-11-27 12:00:00+00:00,µg/m³,EEA Spain,1.000000,39.868060,-4.020830,POINT(39.8680599994715 1)
19,ES1818A,Toledo,ES,co,50000.00,2017-11-27 12:00:00+00:00,µg/m³,EEA Spain,39.868060,-4.020830,1.000000,POINT(-4.02083 39.86806)

In [ ]:
q2 = '''
    SELECT country, count(country) as Frequency FROM bigquery-public-data.openaq.global_air_quality GROUP BY Country ORDER BY count(country) DESC LIMIT 10
    SELECT country, count(country) as Frequency FROM bigquery-public-data.openaq.global_air_quality GROUP BY Country ORDER BY count(country) LIMIT 10

    '''
query_job = client.query(q2)
q2 = query_job.to_dataframe()
q2

  country  Frequency
0      US    1421351
1      IN     770712
2      PL     341984
3      IT     280898
4      CA     266933
5      GB     252573
6      FR     221553
7      TH     208832
8      AU     168962
9      AT     133068

In [ ]:
q3 = '''
    SELECT Country, COUNT(pollutant) FROM bigquery-public-data.openaq.global_air_quality GROUP BY country ORDER BY count(pollutant)
    SELECT pollutant, count(pollutant) as Frequency FROM bigquery-public-data.openaq.global_air_quality GROUP BY pollutant ORDER BY count(pollutant) DESC
    '''
query_job = client.query(q3)
q3 = query_job.to_dataframe()
q3

    Country      f0_
0        PH        2
1        NG        2
2        SG        2
3        AF        4
4        SA        7
..      ...      ...
106      CA   266933
107      IT   280898
108      PL   341984
109      IN   770712
110      US  1421351

[111 rows x 2 columns]

In [ ]:
q4 = '''
    SELECT city, AVG(value) FROM bigquery-public-data.openaq.global_air_quality WHERE pollutant = 'co' GROUP BY city HAVING AVG(value) > 35
ORDER BY 2 DESC
    '''

query_job = client.query(q4)
q4 = query_job.to_dataframe()
q4

                city            f0_
0          Tocopilla  275663.080000
1             Toledo   50000.000000
2      Gómez Palacio   45615.000000
3             Araria    9130.000000
4            Cabrero    7182.385000
...              ...            ...
1088  Brabant wallon      65.092500
1089       Top Floor      60.000000
1090     Dublin City      52.261886
1091         Saharsa      50.863309
1092            五家渠市      50.000000

[1093 rows x 2 columns]